<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3 bg-primary">
    <h4 class="my-0 fw-normal">Crear Helado</h4>
  </div>
  <div class="card-body">
    <form (ngSubmit)="crearHelado()" #heladoForm="ngForm">
      <div class="form-group">
        <label for="sabor">Sabor</label>
        <input type="text" class="form-control" id="sabor" name="sabor" [(ngModel)]="helado.sabor" required>
      </div>
      <div class="form-group">
        <label for="ingredientes">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="helado.tipo" required>
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="helado.precio" required>
      </div>
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="number" class="form-control" id="peso" name="peso" [(ngModel)]="helado.peso" required min="250" max="1000"> 
        <div class="text-warning">
          El peso debe ser entre 250 y 1000 gramos.
        </div>
      </div>
      <hr>
      <button type="submit" class="w-100 btn btn-lg btn-primary" [disabled]="!heladoForm.form.valid">Agregar Helado</button>
    </form>
  </div>
</div>