<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Salen Pizzas</h1>
</div>

<main class="container">

  <app-lista-helados  (selectedHeladoOutput)="recibirHelado($event)"></app-lista-helados>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <div class="col">
      <app-crear-helado></app-crear-helado>
    </div>

    <div class="col">
      <app-modificar-helado [helado]="helado"></app-modificar-helado>
    </div>

    <div class="col">
      <app-borrar-helado [helado]="helado"></app-borrar-helado>
    </div>
  </div>
</main>

